header {
    background-color: red;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 0;
}
.art {
    font-family: 'Yellowtail', cursive;
}

.coding {
    font-family: 'Monoton', cursive;
}

.input{
    color: red;
}

p {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 15px;
}